[Unit]
Description=Cockpit Onboarding DHCP/DNS on %i
PartOf=cockpit-system-onboarding-setup.service

[Service]
Type=simple
# Copy dnsmasq config to /run/dnsmasq/ for correct SELinux labeling.
# dnsmasq runs in dnsmasq_t domain which can only read dnsmasq_var_run_t
# files. /var/run/dnsmasq.* has that label; /run/cockpit-system-onboarding/
# files get generic var_run_t and are denied.
ExecStartPre=/bin/bash -c 'mkdir -p /run/dnsmasq && cp /run/cockpit-system-onboarding/dnsmasq-%i.conf /run/dnsmasq/ && restorecon /run/dnsmasq/dnsmasq-%i.conf'
ExecStart=/usr/sbin/dnsmasq --keep-in-foreground --conf-file=/run/dnsmasq/dnsmasq-%i.conf
Restart=no

# Hardening: dnsmasq needs network (DHCP/DNS) and /run/ write but not /etc/ or /home/
ProtectSystem=full
ProtectHome=yes
PrivateTmp=yes
NoNewPrivileges=yes
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectControlGroups=yes
RestrictSUIDSGID=yes
ProtectClock=yes
ProtectHostname=yes
RestrictRealtime=yes
LockPersonality=yes
