[Unit]
Description=Cockpit Onboarding WiFi AP on %i
PartOf=cockpit-system-onboarding-setup.service

[Service]
Type=simple
EnvironmentFile=/run/cockpit-system-onboarding/wifi-ap.env
ExecStartPre=-/usr/bin/nmcli device set %i managed no
ExecStartPre=/usr/sbin/ip link set %i up
# Copy hostapd config to /run/hostapd/ for correct SELinux labeling.
# hostapd runs in hostapd_t domain (via hostapd_exec_t transition) which can
# only read hostapd_var_run_t files. /var/run/hostapd(/.*)? has that label;
# /run/cockpit-system-onboarding/ files get generic var_run_t and are denied.
ExecStartPre=/bin/bash -c 'mkdir -p /run/hostapd && cp /run/cockpit-system-onboarding/hostapd-%i.conf /run/hostapd/ && restorecon /run/hostapd/hostapd-%i.conf'
ExecStart=/usr/sbin/hostapd /run/hostapd/hostapd-%i.conf
ExecStartPost=/usr/sbin/ip addr add ${WIFI_AP_ADDRESS}/${WIFI_AP_NETMASK} dev %i
ExecStopPost=/usr/sbin/ip addr flush dev %i
ExecStopPost=/usr/sbin/ip link set %i down
ExecStopPost=-/usr/bin/nmcli device set %i managed yes
Restart=no
