/* SPDX-License-Identifier: LGPL-2.1-or-later */
@use "page.scss";

.glyph-preload {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
}
